mixin custom(title, value, comment)
  tr.custom-field
    td.border-bottom(colspan=3)
      div
        p.label(style={'float':'left'}) #{title}:
        p.text(style={'float':'left'}) #{value}
        div(style={'float':'right', 'font-size':'9px'})
          //- for loop
          div.ui.input.block
              div.ui.label.basic.text.custom-field--label R1
              input(type="text" value="test")
              div.ui.label.basic.text.custom-field--label Value
          div.ui.input.block
              div.ui.label.basic.text.custom-field--label R1
              input(type="text" value="test")
              div.ui.label.basic.text.custom-field--label Value
          //- 
        div(style={'clear':'both'}) 
          span.label Commment: 
          span.label(style={'font-style':'italic'}) #{comment}