// Use !{var} to use unescaped conent
style(type="text/css") !{compiledStyle}



table.ui.bottom.attached.table.border  
    tbody
        tr
            td 
                p.label Dam:
                p.text SEVEN DAM
                div.ui.divider
                p.label Dam:
                p.text SEVEN DAM
            td 
                p.label Dam:
                p.text SEVEN DAM
                div.ui.divider
                p.label Dam:
                p.text SEVEN DAM
            td 
                p.label Dam:
                p.text SEVEN DAM
                div.ui.divider
                p.label Dam:
                p.text SEVEN DAM

            //- section header
        tr.section-header
            td(colspan=3) section 1
            //- text field
        tr.text-field
            td.border-bottom(colspan=3)
                p.label textfield name
                p.text Lorem
            //- text area
        tr.text-area
            td.border-bottom(colspan=3)
                p.label text area name
                p.text Lorem
                div.ui.divider
                label.label latitude:
                    span.text 193
                label.label(style={'margin-left': '59px'}) longtitude:
                    span.text 193
            //- numerical value
        tr.numerical
            td.border-bottom(colspan=3)
                div
                    p.label(style={'float':'left'}) Numerical Value
                    p.text(style={'float':'right'}) 24
                div(style={'clear':'both'})
                    p.label comment xxx
            //- radio button question
        tr.radio
            td.border-bottom(colspan=3)
                div
                    p.label(style={'float':'left'}) Radio Button Question:                    
                    div.ui.radio.checkbox(style={'float':'right','font-size':'9px'})
                        input(type='radio' checked=true)
                        label.text.radio-label 24                   
                div.ui.divider
                div(style={'clear':'both'})
                    p.label comment xxx

